<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.spectacle.app.feature.movies">
    <application>
        <activity
            android:name=".presentation.MoviesActivity"
            android:theme="@style/Theme.Spectacle"/>
    </application>
</manifest>