<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.spectacle.app.feature.musics">
    <application>
        <activity
            android:name=".presentation.MusicsActivity"
            android:theme="@style/Theme.Spectacle"
            android:windowSoftInputMode="adjustResize"/>
    </application>
</manifest>